@model IList<User>

    @{
        
    }

<h2>Players</h2>
<hr/>

<a asp-action="Create">Create</a>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            @item.FirstName @item.LastName
        </div>
        <div class="col-sm-6">
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </div>
    </div>
}
