@model IList<Ladder>

@{
}

<h2>Ladders</h2>
<hr/>

<a asp-action="Create" class="btn btn-primary">Create</a>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-4">
            @item.Name
        </div>
        <div class="col-sm-4">
            @item.LadderPlayers.Count
        </div>
        <div class="col-sm-4">
            <a asp-action="AssignPlayers" asp-route-id="@item.Id">Assign Players</a>
        </div>
    </div>
}