@model IList<Ladder>

@{
}

<h2>Ladders</h2>
<hr/>

<a asp-action="Create" class="btn btn-primary">Create</a>

<table class="table table-striped">
    <thead>
    
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.LadderPlayers.Count
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a asp-action="AssignPlayers" asp-route-id="@item.Id">Assign Players</a>
            </td>
        </tr>
    }
    </tbody>
</table>
